@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <center>
        <h1 id="welcomeMessage">Welcome to the ad agency control panel (website)</h1>
        <h4 id="secondMessage">Click on the tables above (in the header) to select a table</h4>
    </center>
    <label for="languageSelect" id="choose">Select Language:</label>
    <select id="languageSelect" onchange="changeLanguage()">
        <option value="en">English</option>
        <option value="ua">Українська</option>
    </select>

    <script>
        function changeLanguage() {
            var languageSelect = document.getElementById('languageSelect');
            var selectedLanguage = languageSelect.value;

            var translations = {
                'en': {
                    'welcomeMessage': 'Welcome to the ad agency control panel (website)',
                    'secondMessage': 'Click on the tables above (in the header) to select a table',
                    'choose': 'Select Language:'
                    
                },
                'ua': {
                    'welcomeMessage': 'Вітаємо вас у панелі керування (вебсайт) рекламного агенства',
                    'secondMessage': 'Клацніть на таблиці вище (у хедері зверху), щоб обрати таблицю',
                    'choose': 'Оберіть мову:'
                }
            };

            var selectedTranslations = translations[selectedLanguage];
            var welcomeMessage = selectedTranslations['welcomeMessage'];
            var secondMessage = selectedTranslations['secondMessage'];
            var choose = selectedTranslations['choose'];

            document.getElementById('welcomeMessage').textContent = welcomeMessage;
            document.getElementById('secondMessage').textContent = secondMessage;
            document.getElementById('choose').textContent = choose;
        }
    </script>
</body>
</html>
