@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        <a href="/User/Index">Go to User</a>
    </p>
    <p>
        <a href="/Role/Index">Go to Role</a>
    </p>
    <p>
        <a href="/Ad/Index">Go to Ad</a>
    </p>
    <p>
        <a href="/AdType/Index">Go to AdType</a>
    </p>
    <p>
        <a href="/AdStatus/Index">Go to AdStatus</a>
    </p>
    <p>
        <a href="/Advertiser/Index">Go to Advertiser</a>
    </p>
    <p>
        <a href="/Publisher/Index">Go to Publisher</a>
    </p>
</div>
