@model IEnumerable<CourseworkDB.Data.Models.Advertiser>

@{
    ViewData["Title"] = "Advertiser";
}

<h1>Advertiser</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.User.UserName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AdvertiserId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AdvertiserId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AdvertiserId })
                </td>
            </tr>
        }
    </tbody>
</table>
